#background {
  height: 120vh;
}

#background footer {
  flex: 5;
}

#stopwatch {
  width: 30em;
  height: 18em;
  padding: 1em 0.8em 1em;
  background: #2e3435;
  border-radius: 9em;
  box-shadow: 0 0.3125em #1f2324;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#stopwatch-screen {
  width: 5.5em;
  margin-top: 0.5em;
  background: #646464;
  border-radius: 0.7em;
  color: #ffffff;
  font-size: 3.5em;
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#stopwatch-buttons {
  width: 19.5em;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#stopwatch-buttons button {
  font-size: 1em;
  width: 6em;
  height: 2em;
  border: none;
  border-radius: 0.625em;
  background-color: #00e0ff;
  color: #2e3435;
  box-shadow: 0 0.3125em #1f2324;
  text-align: center;
}

#stopwatch-buttons button:hover {
  background-color: #44e9ff;
}

#stopwatch-buttons button:active {
  background-color: #44e9ff;
  box-shadow: 0 0.1875em #1f2324;
  transform: translateY(0.125em);
}
